.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff; /* Color de fondo del div principal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 1.2em;
  text-align: center;
  max-width: 600px;
}